body {
    background-color: rgb(129, 27, 218);
}

.search {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    height: 3rem;
    width: 12rem;
    border: 0;
    padding: 0.5rem 1rem;
}

.active {
    display: none;
}



button {
    height: 3rem;
    width: 3rem;
    border: 0;
    cursor: pointer;

}